#calc { 
  /*width: 432px; */
  width: 40%;
  height: 30%;
  border: 1px solid green;
  padding: 5px; 
}
h1, h6 {
  text-align: center;
  
}
#row1 {
  margin: auto;
 
}

.b {
  /*width: 80px;*/
  width: 25%;
}
.b1 {
  width: 100%;
}
.wb {
  background-color: green;
  color: white;
}

.ob {
  background-color: orange;
  color: black;
}

#display, #display1 {
  background-color: black;
  color: white;
  text-align: right;
  font-weight: bold;
  word-break: break-all;
}

.btn {
  border: 1px solid black;
}